@media (max-width: 549px) {
  header {
    height: 60vh;
  }
  
  .hidden--mobile {
    display: none !important;
  }

  .navMenu {
    align-items: center;
    background-color: black;
    color: #5ace62;
    display: flex;
    flex-direction: column;
  }

  .navMenu > i {
    font-size: 2em;
    padding: 1rem;
  }

  .navMenu > ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 0;
  }

  .navMenu > ul > li {
    list-style-type: none;
    padding: .5rem;
  }
}

@media (max-width: 550px) {
  * {
    flex-direction: column;
  }
}

@media (min-width: 550px) {
  header {
    height: 60vh;
  }

  .navMenu > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  .navMenu > ul > li {
    display: inline-block;
    padding: .5rem .5rem;
    text-decoration: none;
  }
  
  .navMenu > .fa-bars {
    display: none;
  }
}

.fa-plate-wheat {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navMenu {
  background-color:#5ace62;
  border: 2px;
  color: white;
  display: flex;
  text-decoration: none;
}

#foot-center {
  display: flex;
  margin: 0 auto;
}

#foot-left {
  display: flex;
  float: left;
  list-style-type: none;
  text-decoration: none;
}

#foot-right {
  display: flex;
  float: right;
}

#wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkgreen;
}

a:visited {
  color: darkgreen;
  font-weight: bolder;
}

fieldset {
  border-color: #5ace62;
  border-radius: 5px;
}

footer {
  background-color: #5ace62;
  box-sizing: border-box;
  bottom: 0;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

header {
  align-items: center;
  background-image: url(docs/imgs/table-2879213.jpg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

header > p {
  color: white;
  display: inline-block;
  text-align: center;
}

h1 {
  color: #5ace62;
  display: flex;
  font-family: "Red Hat Display", sans-serif;
  font-size: 72px;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

legend {
  background-color: #5ace62;
  color: white;
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}